<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Commands</title>
  <link rel="icon" href="../../favicon.ico" />
  <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="../../styles.css" />
  <link rel="stylesheet" href="./commands.css" />
</head>

<body>
  <nav class="navbar">
    <a class="navbar-links" href="../../index.html">
      <h2>Home</h2>
    </a>
    <a class="navbar-links" href="../commands/commands.html">
      <h3>Commands</h3>
    </a>
    <a class="navbar-links" href="../hardware/hardware.html">
      <h3>Hardware</h3>
    </a>
    <a class="navbar-links" href="../git/git.html">
      <h3>Git</h3>
    </a>
  </nav>

  <div class="notes-section">
    <div class="section">
      <h2>What is the command line?</h2>
      <div class="text">
        <ul>
          <li>
            The command line, or command line interface (CLI) is a thing. All operating systems have
            some sort of command line. On MacOS and Linux the CLI app is called the <code>Terminal</code>. WindowsOS
            has three CLI apps - the <code>Command Prompt</code>, <code>Windows PowerShell</code>, and
            <code>Windows PowerShell ISE (Integrated Scripting Environment)</code>.
          </li>
          <li>
            The main difference is the command
            prompt is the oldest of the three and used for more simple tasks whereas the powershells are used for more
            complicated tasks.
          </li>
        </ul>

      </div>
    </div>
    <div class="section">
      <h2>Basic Commands</h2>
      <p>*Mostly MacOS and Linux OS have same commands* *Mostly the Command Prompt and PowerShell/PowerShell ISE have
        same commands*</p>
      <div class="text">
        <table>
          <thead>
            <tr>
              <th>Terminal (MacOS) / Terminal (Linux)</th>
              <th>Command Prompt (WindowsOS)</th>
              <th>Purpose</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>cd</code></td>
              <td><code>cd</code></td>
              <td>change directory</td>
            </tr>
            <tr>
              <td><code>pwd</code></td>
              <td><code>pwd</code></td>
              <td>print working directory</td>
            </tr>
            <tr>
              <td><code>ls</code></td>
              <td><code>dir</code></td>
              <td>list contents of working directory</td>
            </tr>
            <tr>
              <td><code>ls -a</code></td>
              <td><code>dir /s</code></td>
              <td>list all contents of working directory</td>
            </tr>
            <tr>
              <td><code>cd dir1/dir2</code></td>
              <td><code>cd dir1/dir2</code></td>
              <td>change more than one directory level</td>
            </tr>
            <tr>
              <td><code>cd ..</code></td>
              <td><code>cd ..</code></td>
              <td>step up one directory</td>
            </tr>
            <tr>
              <td><code>cd</code></td>
              <td><code>cd\</code></td>
              <td>go back to root directory</td>
            </tr>
            <tr>
              <td><code>mkdir [name]</code></td>
              <td><code>mkdir [name]</code></td>
              <td>create directory</td>
            </tr>
            <tr>
              <td><code>rmdir [name]</code></td>
              <td><code>rmdir [name]</code></td>
              <td>remove empty directory</td>
            </tr>
            <tr>
              <td><code>rm -rf [name]</code></td>
              <td><code>rmdir [name] /s</code></td>
              <td>delete directory and its contents</td>
            </tr>
            <tr>
              <td><code>touch [name.type]</code>
                <p>or</p><code>echo > [name.type]</code>
              </td>
              <td><code>echo > [name.type]</code></td>
              <td>create empty file</td>
            </tr>
            <tr>
              <td><code>echo [text] > file.type</code></td>
              <td><code>echo [text] > file.type</code></td>
              <td>create non-empty file</td>
            </tr>
            <tr>
              <td><code>open [name.type]</code></td>
              <td><code>[name.type]</code></td>
              <td>open file in default application</td>
            </tr>
            <tr>
              <td><code>mv [oldFileName] [newFileName]</code></td>
              <td><code>ren [oldFileName] [newFileName]</code></td>
              <td>rename file</td>
            </tr>
            <tr>
              <td><code>rm [name.type]</code></td>
              <td><code>del [name.type]</code></td>
              <td>delete file</td>
            </tr>
            <tr>
              <td><code>mv [dir] [path to destination directory]</code></td>
              <td><code>move [dir] [path to destination directory]</code></td>
              <td>Move directory</td>
            </tr>
            <tr>
              <td><code>cp -r [dir] [path to destination directory]</code></td>
              <td><code>robocopy [dir] [path to destination directory]</code></td>
              <td>Copy and move copied directory</td>
            </tr>
            <tr>
              <td><code><i>press up arrow key</i></code></td>
              <td><code><i>press up arrow key</i></code></td>
              <td>Repeat previous command</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="section">
      <h2><code>ls/dir</code> Command</h2>

      <div class="text">
        <p>
          As we saw in this previous section, the <code>ls/dir</code>
          command lists the contents of the working directory. There are
        </p>
      </div>
    </div>

    <div class="section">
      <h2>IP addresses and MAC addresses</h2>
      <div class="text">
        <p><u> There are two main types of IP addresses:</u></p>
        <ul>
          <li><strong>Private IP Addresses:</strong></li>
          <li>Not visible to anyone on the Internet</li>
          <li>Used to identify a machine on a local device</li>
          <li>assigned by router</li>
          <li>Addresses can be reused on different networks</li>
          <li>free</li>
          <li>Can be found from the command line when connected to a router</li>
        </ul>
        </p>
        <table>
          <tbody>
            <thead>
              <tr>
                <th colspan="3">Finding private IP address from command line </th>
              </tr>
            </thead>
            <thead>
              <tr>
                <th>MacOS</th>
                <th>WindowsOS</th>
                <th>Purpose</th>
              </tr>
            </thead>
            <tr>
              <td><code>ifconfig (private IP is IPv4)</code></td>
              <td><code>ipconfig (private IP is IPv4)</code></td>
              <td>find private IP address</td>
            </tr>
          </tbody>
        </table>
        <ul>
          <li><strong>Public IP Addresses:</strong></li>
          <ul>
            <li>Visible to anyone on the Internet</li>
            <li>Used to identify your device when you are connected to the Internet </li>
            <li>assigned by your ISP </li>
            <li>Addresses are unique and cannot be reused</li>
            <li>not free, have to pay an ISP for them</li>
            <li>Can be found when connected to the internet</li>
            <li>different devices on same network have same public IP</li>
          </ul>

          <p><i>You can't find public IP address without being connected to the internet.</i> This is because public IP addresses are assigned by ISP. However, once connected to the internet you can find your public IP from the command line.</p>
      </div>.

      <div class="text">
        <h3>Setting up SSH on WindowsOS:</h3>

        <ul>
          <li>MacOS and Linux systems come with SSH built into the Terminal. However, WindowsOS does not. </li>
        </ul>




      </div>

      <div class="text">
        <ol>
          <li>
            <strong>Using SSH when <u>username on target device is the same as username on local device</u></strong>
            <table>
              <tbody>
                <thead>
                  <tr>
                    <th>MacOS</th>
                    <th>WindowsOS</th>
                    <th>Purpose</th>
                  </tr>
                </thead>
                <tr>
                  <td><code>ssh [public ip or domain name of target device]</code></td>
                  <td><code>ssh [public ip or domain name of target device]</code></td>
                  <td>connect to remote target device</td>
                </tr>
              </tbody>
            </table>
          </li>
          <li>
            <strong>Using SSH when <u>username on target device is NOT the same as username on local device</u></strong>
          </li>
        </ol>
      </div>
    </div>

    <div class="section">
      <h2>Network Address Translation</h2>
    </div>

    <div class="section">
      <h2>Text Editor Within CLI</h2>
    </div>
  </div>
  <script src="./index.js"></script>

</body>

</html>