<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title</title>
    <link rel="icon" href="../../favicon.ico" />
    <link
      rel="stylesheet"
      href="../../node_modules/bootstrap/dist/css/bootstrap.css"
    />
    <link rel="stylesheet" href="../../styles.css" />
    <link rel="stylesheet" href="./commands.css" />
  </head>
  <body>
    <nav class="navbar">
      <a class="navbar-links" href="../../index.html">
        <h2>Home</h2>
      </a>
      <a class="navbar-links" href="./commands.html">
        <h3>Commands</h3>
      </a>
      <a class="navbar-links" href="../change-a-tire/change-a-tire.html">
        <h3>Git</h3>
      </a>
    </nav>

    <div class="notes-section">
      <div class="subtitle">
        <h2>What is the command line?</h2>
        <div class="text">
          <p>The command line, or command line interface (CLI) is a thing. All operating systems have 
            some sort of command line. On MacOS and Linux the CLI app is called the <code>Terminal</code>. WindowsOS
            has two CLI apps - the <code>Command Prompt</code> and <code>Windows PowerShell</code>. 
          </p>
        </div>
      </div>
      <div class="subtitle">
        <h2>Basic Commands</h2>
        <div class="text">
            <table>
              <thead>
                <tr>
                  <th>Terminal (MacOS)</th>
                  <th>Command Prompt (WindowsOS)</th>
                  <th>Purpose</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><code>cd</code></td>
                  <td><code>cd</code></td>
                  <td>change directory</td>
                </tr>
                <tr>
                  <td><code>pwd</code></td>
                  <td><code>pwd</code></td>
                  <td>print working directory</td>
                </tr>
                <tr>
                  <td><code>ls</code></td>
                  <td><code>dir</code></td>
                  <td>list contents of working directory</td>
                </tr>
                <tr>
                  <td><code>cd dir1/dir2</code></td>
                  <td><code>cd dir1\dir2</code></td>
                  <td>change more than one directory level</td>
                </tr>
                <tr>
                  <td><code>cd ..</code></td>
                  <td><code>cd ..</code></td>
                  <td>step up one directory</td>
                </tr>
                <tr>
                  <td><code>cd</code></td>
                  <td><code>cd\</code></td>
                  <td>go back to root directory</td>
                </tr>
                <tr>
                  <td><code>mkdir [name]</code></td>
                  <td><code>mkdir [name]</code></td>
                  <td>create directory</td>
                </tr>
                <tr>
                  <td><code>rmdir [name]</code></td>
                  <td><code>rmdir [name]</code></td>
                  <td>remove empty directory</td>
                </tr>
                <tr>
                  <td><code>rm -rf [name]</code></td>
                  <td><code>rm -R [name]</code></td>
                  <td>delete directory and its contents</td>
                </tr>
                <tr>
                  <td><code>touch [name.type]</code></td>
                  <td><code>NO GOOD WAY</code></td>
                  <td>create empty file</td>
                </tr>
                <tr>
                  <td><code>touch [name.type]</code></td>
                  <td><code>echo [text] > file.type</code></td>
                  <td>create non-empty file</td>
                </tr>
                <tr>
                  <td><code>rm [name.type]</code></td>
                  <td><code>del [name.type]</code></td>
                  <td>delete file</td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
      <div class="subtitle">
        <h2>Text Editor Within CLI</h2>
      </div>
      <div class="subtitle">
        <h2>SSH (Secure Shell)</h2>
        <div class="text">
         <table>
          <tbody>
            <thead>
              <tr>
                <th>MacOS</th>
                <th>WindowsOS</th>
                <th>Purpose</th>
              </tr>
            </thead>
            <tr>
              <td>sdg</td>
              <td>sdg</td>
              <td>sglkn</td>
            </tr>
          </tbody>
         </table>
        </div>
      </div>
    </div>
    <script src="./index.js"></script>

  </body>
</html>
