<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IP Addresses</title>
    <link rel="stylesheet" href="../../styles.css">
</head>
<body>
    <nav class="navbar">
        <a class="navbar-links" href="../../index.html">
          <h2>Home</h2>
        </a>
        <a class="navbar-links" href="../commands/commands.html">
          <h3>Commands</h3>
        </a>
        <a class="navbar-links" href="../hardware/hardware.html">
          <h3>Hardware</h3>
        </a>
        <a class="navbar-links" href="../git/git.html">
          <h3>Git</h3>
        </a>
      </nav>

    <div class="notes-section">
        <div class="section">
            <div class="text" style="margin-top: 20px;">
                <h2>Public IP Addresses</h2>
                
            </div>

            <div class="text">
                <h2>Private IP Addresses</h2>
                <ul></ul>
            </div>

        </div>


    </div>
    
    




        

</body>
</html>